{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Створити заяву</title>
</head>
<body>
    <a href="{% url 'home' %}" class="btn btn-home">Головна</a>
    <h2>Створити заяву</h2>

    <form action="{% url 'claim_create' %}" method="post">
        {% csrf_token %}
        
        {{ form.as_p }} 
        
        <button type="submit">Створити заяву</button>
    </form>
</body>
</html>

